RUNNING_PID
logs/
project/*-shim.sbt
project/project/
project/target/
project/target/*
target/
target/
lib_managed/
src_managed/
project/boot/
scripts/venv/
scripts/custom_config/
*.iml
*.swp
.idea/
sigir_paper/i2i_sigir.synctex.gz
sigir_paper/i2i_sigir.log
sigir_paper/i2i_sigir.fls
sigir_paper/i2i_sigir.fdb_latexmk
sigir_paper/i2i_sigir.blg
sigir_paper/i2i_sigir.aux
sigir_paper/i2i_sigir.pdf
sigir_paper/i2i_body.synctex.gz
sigir_paper/i2i_body.log
sigir_paper/i2i_body.fls
sigir_paper/i2i_body.fdb_latexmk
sigir_paper/i2i_body.blg
sigir_paper/i2i_body.aux
sigir_paper/i2i_body.pdf
sigir_paper/i2i_body_mod.aux
sigir_paper/i2i_body_mod.fdb_latexmk
sigir_paper/i2i_body_mod.fls
sigir_paper/i2i_body_mod.log
sigir_paper/i2i_sigir_mod.aux
sigir_paper/i2i_sigir_mod.fdb_latexmk
sigir_paper/i2i_sigir_mod.fls
sigir_paper/i2i_sigir_mod.log
sigir_paper/i2i_sigir_mod.pdf
sigir_paper/i2i_sigir_mod.synctex.gz
*.out